<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Config" type="WhatSender.Config, WhatSender" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<Config>
		<DataSourceSettings type="api" fetchURL="https://jsonkeeper.com/b/Z1OL" statusURL="https://example.com/statusUpdate" />
		<WaitingSettings lumpsum_delay="4" count_of_message="10" wait_after_every_message="10" />
		<APISettings udlfilelocation="" />
		<Total success="0" error="0" />
	</Config>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>